In [1]:
#import dependecies
import pandas as pd
from pathlib import Path
import polars as pl
import re

In [2]:
df1= pd.read_csv("player_possession3.csv", encoding='unicode_escape')
df2= pd.read_csv("player_shooting3.csv", encoding='unicode_escape')
df3= pd.read_csv("player_passing3.csv", encoding='unicode_escape')
df4= pd.read_csv("player_defense3.csv", encoding='unicode_escape')
df5= pd.read_csv("FIFA_official_data3.csv", encoding='unicode_escape')

In [3]:
# Right after import, drop repeated columns from data frames to prevent duplicating upon merge.
df2 = df2.drop(columns=['age', 'team','position','minutes_90s','birth_year'])
df3 = df3.drop(columns=['age', 'team','position','minutes_90s','birth_year'])
df4 = df4.drop(columns=['age', 'team','position','minutes_90s','birth_year'])

In [4]:
df5['Value'] = df5['Value'].str[1:]
df5['Value']

0           78M
1        119.5M
2        125.5M
3           45M
4          129M
          ...
16705       30K
16706       20K
16707       50K
16708         0
16709         0
Name: Value, Length: 16710, dtype: object

In [5]:
def conversion(value):
    if 'K' in value:
        return float(value.replace('K', '')) * 1000
    elif 'M' in value:
        return float(value.replace('M', '')) * 1000000
    else:
        return float(value)

df5['Value'] = df5['Value'].apply(conversion)

df5['Value']

0         78000000.0
1        119500000.0
2        125500000.0
3         45000000.0
4        129000000.0
            ...
16705        30000.0
16706        20000.0
16707        50000.0
16708            0.0
16709            0.0
Name: Value, Length: 16710, dtype: float64

In [6]:
qualified_countries = ['Argentina', 'Australia', 'Belgium', 'Brazil', 'Cameroon', 'Canada', 'Costa Rica', 'Croatia', 'Denmark',
                       'Ecuador', 'England', 'France', 'Germany', 'Ghana', 'Iran', 'Japan', 'Mexico', 'Morocco', 'Netherlands', 
                       'Poland', 'Portugal', 'Qatar', 'Saudi Arabia', 'Senegal', 'Serbia', 'South Korea', 'Spain', 'Switzerland',
                      'Tunisia', 'Uruguay', 'United States', 'Wales']

df5_qualified = df5[df5['Nationality'].isin(qualified_countries)]

print(df5_qualified)

           ID              Name  Age  \
0      158023          L. Messi   34
1      188545    R. Lewandowski   32
2      192985      K. De Bruyne   30
3       20801        C. Ronaldo   36
4      190871            Neymar   29
...       ...               ...  ...
16702  260623      21 M. Wright   33
16705  235352   18 T. Käßemodel   28
16706  219735    15 T. Fletcher   19
16707  220806      16 E. Redman   18
16708   19334  10 I. Baraclough   38

                                                  Photo Nationality  \
0      https://cdn.sofifa.com/players/158/023/22_60.png   Argentina
1      https://cdn.sofifa.com/players/188/545/22_60.png      Poland
2      https://cdn.sofifa.com/players/192/985/22_60.png     Belgium
3      https://cdn.sofifa.com/players/020/801/22_60.png    Portugal
4      https://cdn.sofifa.com/players/190/871/22_60.png      Brazil
...                                                 ...         ...
16702  https://cdn.sofifa.com/players/260/623/21_60.png     England
16705  https://cdn.sofifa.com/players/235/352/18_60.png     Germany
16706  https://cdn.sofifa.com/players/219/735/15_60.png     England
16707  https://cdn.sofifa.com/players/220/806/16_60.png       Wales
16708  https://cdn.sofifa.com/players/019/334/10_60.png     England

                                          Flag  Overall  Potential  \
0          https://cdn.sofifa.com/flags/ar.png       93         93
1          https://cdn.sofifa.com/flags/pl.png       92         92
2          https://cdn.sofifa.com/flags/be.png       91         91
3          https://cdn.sofifa.com/flags/pt.png       91         91
4          https://cdn.sofifa.com/flags/br.png       91         91
...                                        ...      ...        ...
16702  https://cdn.sofifa.com/flags/gb-eng.png       47         47
16705      https://cdn.sofifa.com/flags/de.png       46         46
16706  https://cdn.sofifa.com/flags/gb-eng.png       46         52
16707  https://cdn.sofifa.com/flags/gb-wls.png       44         57
16708  https://cdn.sofifa.com/flags/gb-eng.png       44         65

                      Club                                   Club Logo  ...  \
0      Paris Saint-Germain      https://cdn.sofifa.com/teams/73/30.png  ...
1        FC Bayern München      https://cdn.sofifa.com/teams/21/30.png  ...
2          Manchester City      https://cdn.sofifa.com/teams/10/30.png  ...
3        Manchester United      https://cdn.sofifa.com/teams/11/30.png  ...
4      Paris Saint-Germain      https://cdn.sofifa.com/teams/73/30.png  ...
...                    ...                                         ...  ...
16702         Crawley Town  https://cdn.sofifa.com/teams/110890/30.png  ...
16705    FC Erzgebirge Aue     https://cdn.sofifa.com/teams/506/30.png  ...
16706    Wycombe Wanderers    https://cdn.sofifa.com/teams/1933/30.png  ...
16707       Newport County  https://cdn.sofifa.com/teams/112254/30.png  ...
16708                  NaN     https://cdn.sofifa.com/flags/gb-eng.png  ...

       SlidingTackle GKDiving  GKHandling GKKicking  GKPositioning  \
0               24.0        6          11        15             14
1               19.0       15           6        12              8
2               53.0       15          13         5             10
3               24.0        7          11        15             14
4               29.0        9           9        15             15
...              ...      ...         ...       ...            ...
16702           46.0       14           9        14              8
16705           38.0       10          12         6             13
16706           50.0       14           7         8             14
16707           38.0       13           7        16              9
16708            NaN        5          20        46             20

       GKReflexes  Best Position Best Overall Rating Release Clause  \
0               8             RW                  93        144.3M
1              10             ST                  92        197.2M
2              13             CM                  91        232.2M
3              11             ST                  91         83.3M
4              11             LW                  91        238.7M
...           ...            ...                 ...            ...
16702           5             LB                  47           44K
16705           6             CM                  45           47K
16706          11             CB                  46            NaN
16707           7             CB                  44            NaN
16708          20             CM                  46            NaN

      DefensiveAwareness
0                   20.0
1                   35.0
2                   68.0
3                   24.0
4                   35.0
...                  ...
16702               48.0
16705                NaN
16706                NaN
16707                NaN
16708                NaN

[11125 rows x 65 columns]

In [7]:
#Merge columns together using 'pd.merge'
merged_df = pd.merge(df1,df2,how='inner',left_on='player',right_on='player')
merged_df = pd.merge(merged_df,df3,how='inner',left_on='player',right_on='player')
merged_df = pd.merge(merged_df,df4,how='inner',left_on='player',right_on='player')

In [8]:
merged_df.head()

,player,position,team,age,birth_year,minutes_90s,touches,touches_def_pen_area,touches_def_3rd,touches_mid_3rd,...,dribbles_vs,dribble_tackles_pct,dribbled_past,blocks,blocked_shots,blocked_passes,interceptions,tackles_interceptions,clearances,errors
0,Aaron Mooy,MF,Australia,32-094,1990,4.0,255.0,14.0,62.0,168.0,...,8.0,75.0,2.0,6.0,4.0,2.0,3,12.0,9.0,0.0
1,Aaron Ramsey,MF,Wales,31-357,1990,3.0,147.0,6.0,32.0,73.0,...,2.0,0.0,2.0,4.0,1.0,3.0,0,2.0,2.0,1.0
2,Abdelhamid Sabiri,MF,Morocco,26-020,1996,2.0,86.0,5.0,23.0,50.0,...,6.0,33.3,4.0,3.0,1.0,2.0,5,8.0,3.0,0.0
3,Abdelkarim Hassan,DF,Qatar,29-112,1993,3.0,193.0,15.0,83.0,95.0,...,4.0,75.0,1.0,3.0,1.0,2.0,1,8.0,5.0,0.0
4,Abderrazak Hamdallah,FW,Morocco,32-001,1990,0.8,28.0,2.0,2.0,15.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0,0.0,2.0,0.0

In [9]:
def shorter_name(full_name):
    parts = full_name.split()
    if len(parts) == 1:
        return full_name
    elif len(parts) >= 2:
        first_initial = parts[0][0].upper() + '.' if parts[0] else '' 
        last_name = parts[-1].capitalize()
        return f"{first_initial} {last_name}"
    
    else:
        return full_name

merged_df['player'] = merged_df['player'].apply(shorter_name)


merged_df.head()

,player,position,team,age,birth_year,minutes_90s,touches,touches_def_pen_area,touches_def_3rd,touches_mid_3rd,...,dribbles_vs,dribble_tackles_pct,dribbled_past,blocks,blocked_shots,blocked_passes,interceptions,tackles_interceptions,clearances,errors
0,A. Mooy,MF,Australia,32-094,1990,4.0,255.0,14.0,62.0,168.0,...,8.0,75.0,2.0,6.0,4.0,2.0,3,12.0,9.0,0.0
1,A. Ramsey,MF,Wales,31-357,1990,3.0,147.0,6.0,32.0,73.0,...,2.0,0.0,2.0,4.0,1.0,3.0,0,2.0,2.0,1.0
2,A. Sabiri,MF,Morocco,26-020,1996,2.0,86.0,5.0,23.0,50.0,...,6.0,33.3,4.0,3.0,1.0,2.0,5,8.0,3.0,0.0
3,A. Hassan,DF,Qatar,29-112,1993,3.0,193.0,15.0,83.0,95.0,...,4.0,75.0,1.0,3.0,1.0,2.0,1,8.0,5.0,0.0
4,A. Hamdallah,FW,Morocco,32-001,1990,0.8,28.0,2.0,2.0,15.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0,0.0,2.0,0.0

In [10]:
merged_df = pd.merge(merged_df,df5_qualified,how='inner',left_on='player',right_on='Name')

In [11]:
merged_df_sort = merged_df.sort_values(by='Overall', ascending=False)


cleaned_merged_df = merged_df_sort.drop_duplicates(subset='Name', keep='first')


print(cleaned_merged_df)

             player position       team     age  birth_year  minutes_90s  \
302        L. Messi       FW  Argentina  35-177        1987          7.7
428  R. Lewandowski       FW     Poland  34-119        1988          4.0
292       K. Mbappé       FW     France  23-363        1998          6.6
381          Neymar       MF     Brazil  30-316        1992          3.1
92       C. Ronaldo       FW   Portugal  37-316        1985          3.2
..              ...      ...        ...     ...         ...          ...
54        A. Ounahi       MF    Morocco  22-243        2000          6.3
194          H. Ito       DF      Japan  23-220        1999          0.5
118       D. Lovren       DF    Croatia  33-166        1989          6.7
220    J. Sarmiento       MF    Ecuador  20-185        2002          0.9
441      R. Colwill       MF      Wales  20-235        2002          0.1

     touches  touches_def_pen_area  touches_def_3rd  touches_mid_3rd  ...  \
302    460.0                   1.0             21.0            208.0  ...
428    153.0                   9.0             13.0             73.0  ...
292    325.0                   0.0              8.0             98.0  ...
381    203.0                   0.0             11.0            101.0  ...
92     116.0                   2.0              5.0             58.0  ...
..       ...                   ...              ...              ...  ...
54     328.0                   4.0             79.0            183.0  ...
194     64.0                   0.0              9.0             48.0  ...
118    515.0                  55.0            243.0            264.0  ...
220     44.0                   0.0              2.0             20.0  ...
441      6.0                   1.0              1.0              3.0  ...

     SlidingTackle  GKDiving  GKHandling  GKKicking  GKPositioning  \
302           24.0         6          11         15             14
428           19.0        15           6         12              8
292           32.0        13           5          7             11
381           29.0         9           9         15             15
92            24.0         7          11         15             14
..             ...       ...         ...        ...            ...
54            58.0        14          13          6              8
194           59.0        13          10         10             10
118           24.0        11          12         13             14
220           30.0        12           9         13             14
441           42.0         6          13          7             12

     GKReflexes  Best Position  Best Overall Rating  Release Clause  \
302           8             RW                   93         144.3M
428          10             ST                   92         197.2M
292           6             ST                   92         373.5M
381          11             LW                   91         238.7M
92           11             ST                   91          83.3M
..          ...            ...                  ...             ...
54            7            CAM                   64           2.6M
194          10            CDM                   65           1.7M
118          10            CAM                   61           990K
220          12             RM                   60           1.1M
441          14            CAM                   61           1.5M

     DefensiveAwareness
302                20.0
428                35.0
292                26.0
381                35.0
92                 24.0
..                  ...
54                 55.0
194                63.0
118                24.0
220                27.0
441                29.0

[464 rows x 141 columns]

In [33]:
#Drop unnecessary columns
columns_to_drop = ['touches_def_pen_area','touches_def_3rd','touches_mid_3rd','touches_att_3rd','touches_att_pen_area',
                  'touches_live_ball','dribbles','dribbles_completed_pct','miscontrols', 'dispossessed', 'passes_received',
                   'progressive_passes_received', 'shots_on_target_pct', 'shots_per90', 'shots_on_target_per90',
                  'goals_per_shot_on_target','average_shot_distance','passes_pct', 'passes_total_distance', 
                   'passes_progressive_distance', 'passes_completed_short', 'passes_short', 'passes_pct_short',
                   'passes_completed_medium', 'passes_medium', 'passes_pct_medium','passes_completed_long', 'passes_long', 
                   'passes_pct_long', 'xg_assist', 'pass_xa', 'xg_assist_net', 'assisted_shots','passes_into_final_third', 
                   'passes_into_penalty_area','crosses_into_penalty_area', 'progressive_passes','tackles_def_3rd', 
                   'tackles_mid_3rd', 'tackles_att_3rd', 'goals_per_shot'
                  ]
df_dropped = cleaned_merged_df.drop(columns_to_drop, axis=1)

In [34]:
#Drop unnecessary columns
columns_2_drop = ['shots_free_kicks','pens_made','pens_att', 'xg', 'npxg', 'npxg_per_shot', 'xg_net', 'npxg_net',
                  'tackles', 'dribble_tackles', 'dribbles_vs', 'dribble_tackles_pct', 'dribbled_past', 'blocks', 
                  'blocked_shots', 'blocked_passes', 'interceptions', 'tackles_interceptions','clearances', 'errors',
                  'birth_year', 'Age', 'ID','Name','Photo','Nationality', 'Flag', 'Potential','Club','Club Logo','Wage',
                  'Special','Preferred Foot','International Reputation','Weak Foot', 'Skill Moves', 'Work Rate', 'Body Type', 
                  'Real Face', 'Position', 'Jersey Number', 'Joined', 'Loaned From', 'Contract Valid Until', 'Height', 
                  'Weight', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys', 'Dribbling', 'Curve', 
                  'FKAccuracy', 'LongPassing', 'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 
                  'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots', 'Aggression', 'Interceptions', 
                  'Positioning', 'Vision', 'Penalties', 'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 
                  'GKDiving', 'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes', 'Best Position', 
                  'Best Overall Rating', 'Release Clause', 'DefensiveAwareness',
                  ]
data_df = df_dropped.drop(columns_2_drop, axis=1)

In [35]:
data_df.dtypes

player                 object
position               object
team                   object
age                    object
minutes_90s           float64
touches               float64
dribbles_completed    float64
goals                   int64
shots                   int64
shots_on_target         int64
passes_completed      float64
passes                float64
assists                 int64
tackles_won             int64
Overall                 int64
Value                 float64
dtype: object

In [36]:
# Display Result
data_df

,player,position,team,age,minutes_90s,touches,dribbles_completed,goals,shots,shots_on_target,passes_completed,passes,assists,tackles_won,Overall,Value
302,L. Messi,FW,Argentina,35-177,7.7,460.0,15.0,7,27,13,301.0,372.0,3,3,93,78000000.0
428,R. Lewandowski,FW,Poland,34-119,4.0,153.0,5.0,2,10,2,61.0,91.0,1,2,92,119500000.0
292,K. Mbappé,FW,France,23-363,6.6,325.0,25.0,8,29,11,173.0,229.0,2,0,91,194000000.0
381,Neymar,MF,Brazil,30-316,3.1,203.0,6.0,2,11,6,121.0,153.0,0,0,91,129000000.0
92,C. Ronaldo,FW,Portugal,37-316,3.2,116.0,0.0,1,10,2,68.0,90.0,0,0,91,45000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,A. Ounahi,MF,Morocco,22-243,6.3,328.0,10.0,0,6,1,216.0,265.0,0,8,62,975000.0
194,H. Ito,DF,Japan,23-220,0.5,64.0,0.0,0,0,0,58.0,63.0,0,0,62,825000.0
118,D. Lovren,DF,Croatia,33-166,6.7,515.0,0.0,0,4,0,405.0,460.0,1,2,60,550000.0
220,J. Sarmiento,MF,Ecuador,20-185,0.9,44.0,2.0,0,1,1,23.0,37.0,0,1,59,525000.0
441,R. Colwill,MF,Wales,20-235,0.1,6.0,0.0,0,1,0,2.0,4.0,0,0,59,575000.0

In [37]:
# Create a Polars DataFrame
df = pl.DataFrame(data_df)
print(type(df))
df.head()

<class 'polars.dataframe.frame.DataFrame'>

shape: (5, 16)
┌────────────────┬──────────┬───────────┬────────┬───┬─────────┬─────────────┬─────────┬─────────┐
│ player         ┆ position ┆ team      ┆ age    ┆ … ┆ assists ┆ tackles_won ┆ Overall ┆ Value   │
│ ---            ┆ ---      ┆ ---       ┆ ---    ┆   ┆ ---     ┆ ---         ┆ ---     ┆ ---     │
│ str            ┆ str      ┆ str       ┆ str    ┆   ┆ i64     ┆ i64         ┆ i64     ┆ f64     │
╞════════════════╪══════════╪═══════════╪════════╪═══╪═════════╪═════════════╪═════════╪═════════╡
│ L. Messi       ┆ FW       ┆ Argentina ┆ 35-177 ┆ … ┆ 3       ┆ 3           ┆ 93      ┆ 7.8e7   │
│ R. Lewandowski ┆ FW       ┆ Poland    ┆ 34-119 ┆ … ┆ 1       ┆ 2           ┆ 92      ┆ 1.195e8 │
│ K. Mbappé      ┆ FW       ┆ France    ┆ 23-363 ┆ … ┆ 2       ┆ 0           ┆ 91      ┆ 1.94e8  │
│ Neymar         ┆ MF       ┆ Brazil    ┆ 30-316 ┆ … ┆ 0       ┆ 0           ┆ 91      ┆ 1.29e8  │
│ C. Ronaldo     ┆ FW       ┆ Portugal  ┆ 37-316 ┆ … ┆ 0       ┆ 0           ┆ 91      ┆ 4.5e7   │
└────────────────┴──────────┴───────────┴────────┴───┴─────────┴─────────────┴─────────┴─────────┘

In [38]:
# Drop unnecesary values from columns

df_5 = df.with_columns(pl.col('age').map_elements(lambda value:
                                                     value.split('-')[0]))
df_5.head()

shape: (5, 16)
┌────────────────┬──────────┬───────────┬─────┬───┬─────────┬─────────────┬─────────┬─────────┐
│ player         ┆ position ┆ team      ┆ age ┆ … ┆ assists ┆ tackles_won ┆ Overall ┆ Value   │
│ ---            ┆ ---      ┆ ---       ┆ --- ┆   ┆ ---     ┆ ---         ┆ ---     ┆ ---     │
│ str            ┆ str      ┆ str       ┆ str ┆   ┆ i64     ┆ i64         ┆ i64     ┆ f64     │
╞════════════════╪══════════╪═══════════╪═════╪═══╪═════════╪═════════════╪═════════╪═════════╡
│ L. Messi       ┆ FW       ┆ Argentina ┆ 35  ┆ … ┆ 3       ┆ 3           ┆ 93      ┆ 7.8e7   │
│ R. Lewandowski ┆ FW       ┆ Poland    ┆ 34  ┆ … ┆ 1       ┆ 2           ┆ 92      ┆ 1.195e8 │
│ K. Mbappé      ┆ FW       ┆ France    ┆ 23  ┆ … ┆ 2       ┆ 0           ┆ 91      ┆ 1.94e8  │
│ Neymar         ┆ MF       ┆ Brazil    ┆ 30  ┆ … ┆ 0       ┆ 0           ┆ 91      ┆ 1.29e8  │
│ C. Ronaldo     ┆ FW       ┆ Portugal  ┆ 37  ┆ … ┆ 0       ┆ 0           ┆ 91      ┆ 4.5e7   │
└────────────────┴──────────┴───────────┴─────┴───┴─────────┴─────────────┴─────────┴─────────┘

In [39]:
# Casting data to their corrisponding data type

new_columns = df_5.with_columns(
    pl.col("age").cast(pl.Int64),
    pl.col("touches").cast(pl.Int64),
    pl.col("dribbles_completed").cast(pl.Int64),
    pl.col("passes_completed").cast(pl.Int64),
    pl.col("passes").cast(pl.Int64),
    pl.col("Value").cast(pl.Int64)
    
)
new_columns.tail()

shape: (5, 16)
┌──────────────┬──────────┬─────────┬─────┬───┬─────────┬─────────────┬─────────┬────────┐
│ player       ┆ position ┆ team    ┆ age ┆ … ┆ assists ┆ tackles_won ┆ Overall ┆ Value  │
│ ---          ┆ ---      ┆ ---     ┆ --- ┆   ┆ ---     ┆ ---         ┆ ---     ┆ ---    │
│ str          ┆ str      ┆ str     ┆ i64 ┆   ┆ i64     ┆ i64         ┆ i64     ┆ i64    │
╞══════════════╪══════════╪═════════╪═════╪═══╪═════════╪═════════════╪═════════╪════════╡
│ A. Ounahi    ┆ MF       ┆ Morocco ┆ 22  ┆ … ┆ 0       ┆ 8           ┆ 62      ┆ 975000 │
│ H. Ito       ┆ DF       ┆ Japan   ┆ 23  ┆ … ┆ 0       ┆ 0           ┆ 62      ┆ 825000 │
│ D. Lovren    ┆ DF       ┆ Croatia ┆ 33  ┆ … ┆ 1       ┆ 2           ┆ 60      ┆ 550000 │
│ J. Sarmiento ┆ MF       ┆ Ecuador ┆ 20  ┆ … ┆ 0       ┆ 1           ┆ 59      ┆ 525000 │
│ R. Colwill   ┆ MF       ┆ Wales   ┆ 20  ┆ … ┆ 0       ┆ 0           ┆ 59      ┆ 575000 │
└──────────────┴──────────┴─────────┴─────┴───┴─────────┴─────────────┴─────────┴────────┘

In [40]:
# Rename the columns
new_column_names = {
    'Overall': 'overall_0-100',
    'Value': 'value_(€)',
    'minutes_90s': 'minutes_played'

}

df_renamed = new_columns.rename(new_column_names)

# Display the result
df_renamed.head()

shape: (5, 16)
┌────────────────┬──────────┬───────────┬─────┬───┬─────────┬─────────────┬───────────────┬───────────┐
│ player         ┆ position ┆ team      ┆ age ┆ … ┆ assists ┆ tackles_won ┆ overall_0-100 ┆ value_(€) │
│ ---            ┆ ---      ┆ ---       ┆ --- ┆   ┆ ---     ┆ ---         ┆ ---           ┆ ---       │
│ str            ┆ str      ┆ str       ┆ i64 ┆   ┆ i64     ┆ i64         ┆ i64           ┆ i64       │
╞════════════════╪══════════╪═══════════╪═════╪═══╪═════════╪═════════════╪═══════════════╪═══════════╡
│ L. Messi       ┆ FW       ┆ Argentina ┆ 35  ┆ … ┆ 3       ┆ 3           ┆ 93            ┆ 78000000  │
│ R. Lewandowski ┆ FW       ┆ Poland    ┆ 34  ┆ … ┆ 1       ┆ 2           ┆ 92            ┆ 119500000 │
│ K. Mbappé      ┆ FW       ┆ France    ┆ 23  ┆ … ┆ 2       ┆ 0           ┆ 91            ┆ 194000000 │
│ Neymar         ┆ MF       ┆ Brazil    ┆ 30  ┆ … ┆ 0       ┆ 0           ┆ 91            ┆ 129000000 │
│ C. Ronaldo     ┆ FW       ┆ Portugal  ┆ 37  ┆ … ┆ 0       ┆ 0           ┆ 91            ┆ 45000000  │
└────────────────┴──────────┴───────────┴─────┴───┴─────────┴─────────────┴───────────────┴───────────┘

In [41]:
df_renamed2 = df_renamed.with_columns(df_renamed['minutes_played'] * 90)

In [42]:
df_renamed2.head()

shape: (5, 16)
┌────────────────┬──────────┬───────────┬─────┬───┬─────────┬─────────────┬───────────────┬───────────┐
│ player         ┆ position ┆ team      ┆ age ┆ … ┆ assists ┆ tackles_won ┆ overall_0-100 ┆ value_(€) │
│ ---            ┆ ---      ┆ ---       ┆ --- ┆   ┆ ---     ┆ ---         ┆ ---           ┆ ---       │
│ str            ┆ str      ┆ str       ┆ i64 ┆   ┆ i64     ┆ i64         ┆ i64           ┆ i64       │
╞════════════════╪══════════╪═══════════╪═════╪═══╪═════════╪═════════════╪═══════════════╪═══════════╡
│ L. Messi       ┆ FW       ┆ Argentina ┆ 35  ┆ … ┆ 3       ┆ 3           ┆ 93            ┆ 78000000  │
│ R. Lewandowski ┆ FW       ┆ Poland    ┆ 34  ┆ … ┆ 1       ┆ 2           ┆ 92            ┆ 119500000 │
│ K. Mbappé      ┆ FW       ┆ France    ┆ 23  ┆ … ┆ 2       ┆ 0           ┆ 91            ┆ 194000000 │
│ Neymar         ┆ MF       ┆ Brazil    ┆ 30  ┆ … ┆ 0       ┆ 0           ┆ 91            ┆ 129000000 │
│ C. Ronaldo     ┆ FW       ┆ Portugal  ┆ 37  ┆ … ┆ 0       ┆ 0           ┆ 91            ┆ 45000000  │
└────────────────┴──────────┴───────────┴─────┴───┴─────────┴─────────────┴───────────────┴───────────┘

In [43]:
adjusted_df = df_renamed2.with_columns(
    pl.col("minutes_played").cast(pl.Int64))
adjusted_df.head()

shape: (5, 16)
┌────────────────┬──────────┬───────────┬─────┬───┬─────────┬─────────────┬───────────────┬───────────┐
│ player         ┆ position ┆ team      ┆ age ┆ … ┆ assists ┆ tackles_won ┆ overall_0-100 ┆ value_(€) │
│ ---            ┆ ---      ┆ ---       ┆ --- ┆   ┆ ---     ┆ ---         ┆ ---           ┆ ---       │
│ str            ┆ str      ┆ str       ┆ i64 ┆   ┆ i64     ┆ i64         ┆ i64           ┆ i64       │
╞════════════════╪══════════╪═══════════╪═════╪═══╪═════════╪═════════════╪═══════════════╪═══════════╡
│ L. Messi       ┆ FW       ┆ Argentina ┆ 35  ┆ … ┆ 3       ┆ 3           ┆ 93            ┆ 78000000  │
│ R. Lewandowski ┆ FW       ┆ Poland    ┆ 34  ┆ … ┆ 1       ┆ 2           ┆ 92            ┆ 119500000 │
│ K. Mbappé      ┆ FW       ┆ France    ┆ 23  ┆ … ┆ 2       ┆ 0           ┆ 91            ┆ 194000000 │
│ Neymar         ┆ MF       ┆ Brazil    ┆ 30  ┆ … ┆ 0       ┆ 0           ┆ 91            ┆ 129000000 │
│ C. Ronaldo     ┆ FW       ┆ Portugal  ┆ 37  ┆ … ┆ 0       ┆ 0           ┆ 91            ┆ 45000000  │
└────────────────┴──────────┴───────────┴─────┴───┴─────────┴─────────────┴───────────────┴───────────┘

In [44]:
adjusted_df

shape: (464, 16)
┌────────────────┬──────────┬───────────┬─────┬───┬─────────┬─────────────┬───────────────┬───────────┐
│ player         ┆ position ┆ team      ┆ age ┆ … ┆ assists ┆ tackles_won ┆ overall_0-100 ┆ value_(€) │
│ ---            ┆ ---      ┆ ---       ┆ --- ┆   ┆ ---     ┆ ---         ┆ ---           ┆ ---       │
│ str            ┆ str      ┆ str       ┆ i64 ┆   ┆ i64     ┆ i64         ┆ i64           ┆ i64       │
╞════════════════╪══════════╪═══════════╪═════╪═══╪═════════╪═════════════╪═══════════════╪═══════════╡
│ L. Messi       ┆ FW       ┆ Argentina ┆ 35  ┆ … ┆ 3       ┆ 3           ┆ 93            ┆ 78000000  │
│ R. Lewandowski ┆ FW       ┆ Poland    ┆ 34  ┆ … ┆ 1       ┆ 2           ┆ 92            ┆ 119500000 │
│ K. Mbappé      ┆ FW       ┆ France    ┆ 23  ┆ … ┆ 2       ┆ 0           ┆ 91            ┆ 194000000 │
│ Neymar         ┆ MF       ┆ Brazil    ┆ 30  ┆ … ┆ 0       ┆ 0           ┆ 91            ┆ 129000000 │
│ …              ┆ …        ┆ …         ┆ …   ┆ … ┆ …       ┆ …           ┆ …             ┆ …         │
│ H. Ito         ┆ DF       ┆ Japan     ┆ 23  ┆ … ┆ 0       ┆ 0           ┆ 62            ┆ 825000    │
│ D. Lovren      ┆ DF       ┆ Croatia   ┆ 33  ┆ … ┆ 1       ┆ 2           ┆ 60            ┆ 550000    │
│ J. Sarmiento   ┆ MF       ┆ Ecuador   ┆ 20  ┆ … ┆ 0       ┆ 1           ┆ 59            ┆ 525000    │
│ R. Colwill     ┆ MF       ┆ Wales     ┆ 20  ┆ … ┆ 0       ┆ 0           ┆ 59            ┆ 575000    │
└────────────────┴──────────┴───────────┴─────┴───┴─────────┴─────────────┴───────────────┴───────────┘

In [45]:
#Drop any null values in the DataFrame
new_columns = adjusted_df.drop_nulls()
new_columns

shape: (464, 16)
┌────────────────┬──────────┬───────────┬─────┬───┬─────────┬─────────────┬───────────────┬───────────┐
│ player         ┆ position ┆ team      ┆ age ┆ … ┆ assists ┆ tackles_won ┆ overall_0-100 ┆ value_(€) │
│ ---            ┆ ---      ┆ ---       ┆ --- ┆   ┆ ---     ┆ ---         ┆ ---           ┆ ---       │
│ str            ┆ str      ┆ str       ┆ i64 ┆   ┆ i64     ┆ i64         ┆ i64           ┆ i64       │
╞════════════════╪══════════╪═══════════╪═════╪═══╪═════════╪═════════════╪═══════════════╪═══════════╡
│ L. Messi       ┆ FW       ┆ Argentina ┆ 35  ┆ … ┆ 3       ┆ 3           ┆ 93            ┆ 78000000  │
│ R. Lewandowski ┆ FW       ┆ Poland    ┆ 34  ┆ … ┆ 1       ┆ 2           ┆ 92            ┆ 119500000 │
│ K. Mbappé      ┆ FW       ┆ France    ┆ 23  ┆ … ┆ 2       ┆ 0           ┆ 91            ┆ 194000000 │
│ Neymar         ┆ MF       ┆ Brazil    ┆ 30  ┆ … ┆ 0       ┆ 0           ┆ 91            ┆ 129000000 │
│ …              ┆ …        ┆ …         ┆ …   ┆ … ┆ …       ┆ …           ┆ …             ┆ …         │
│ H. Ito         ┆ DF       ┆ Japan     ┆ 23  ┆ … ┆ 0       ┆ 0           ┆ 62            ┆ 825000    │
│ D. Lovren      ┆ DF       ┆ Croatia   ┆ 33  ┆ … ┆ 1       ┆ 2           ┆ 60            ┆ 550000    │
│ J. Sarmiento   ┆ MF       ┆ Ecuador   ┆ 20  ┆ … ┆ 0       ┆ 1           ┆ 59            ┆ 525000    │
│ R. Colwill     ┆ MF       ┆ Wales     ┆ 20  ┆ … ┆ 0       ┆ 0           ┆ 59            ┆ 575000    │
└────────────────┴──────────┴───────────┴─────┴───┴─────────┴─────────────┴───────────────┴───────────┘

In [48]:
#sort values depending on ammount of goals
final_df = new_columns.sort(["overall_0-100"], descending=True)

In [49]:
#Display final results
final_df

shape: (464, 16)
┌────────────────┬──────────┬───────────┬─────┬───┬─────────┬─────────────┬───────────────┬───────────┐
│ player         ┆ position ┆ team      ┆ age ┆ … ┆ assists ┆ tackles_won ┆ overall_0-100 ┆ value_(€) │
│ ---            ┆ ---      ┆ ---       ┆ --- ┆   ┆ ---     ┆ ---         ┆ ---           ┆ ---       │
│ str            ┆ str      ┆ str       ┆ i64 ┆   ┆ i64     ┆ i64         ┆ i64           ┆ i64       │
╞════════════════╪══════════╪═══════════╪═════╪═══╪═════════╪═════════════╪═══════════════╪═══════════╡
│ L. Messi       ┆ FW       ┆ Argentina ┆ 35  ┆ … ┆ 3       ┆ 3           ┆ 93            ┆ 78000000  │
│ R. Lewandowski ┆ FW       ┆ Poland    ┆ 34  ┆ … ┆ 1       ┆ 2           ┆ 92            ┆ 119500000 │
│ K. Mbappé      ┆ FW       ┆ France    ┆ 23  ┆ … ┆ 2       ┆ 0           ┆ 91            ┆ 194000000 │
│ Neymar         ┆ MF       ┆ Brazil    ┆ 30  ┆ … ┆ 0       ┆ 0           ┆ 91            ┆ 129000000 │
│ …              ┆ …        ┆ …         ┆ …   ┆ … ┆ …       ┆ …           ┆ …             ┆ …         │
│ H. Ito         ┆ DF       ┆ Japan     ┆ 23  ┆ … ┆ 0       ┆ 0           ┆ 62            ┆ 825000    │
│ D. Lovren      ┆ DF       ┆ Croatia   ┆ 33  ┆ … ┆ 1       ┆ 2           ┆ 60            ┆ 550000    │
│ J. Sarmiento   ┆ MF       ┆ Ecuador   ┆ 20  ┆ … ┆ 0       ┆ 1           ┆ 59            ┆ 525000    │
│ R. Colwill     ┆ MF       ┆ Wales     ┆ 20  ┆ … ┆ 0       ┆ 0           ┆ 59            ┆ 575000    │
└────────────────┴──────────┴───────────┴─────┴───┴─────────┴─────────────┴───────────────┴───────────┘

In [50]:
#Create DataFame
final_df = pl.DataFrame(final_df)
#Save DataFrame as a csv file
final_df.write_csv('FIFA_completed_stats.csv')