In [3]:
!pip install psycopg2 sqlalchemy

Requirement already satisfied: psycopg2 in /Users/patriciayoung/anaconda3/envs/dev/lib/python3.10/site-packages (2.9.9)
Requirement already satisfied: sqlalchemy in /Users/patriciayoung/anaconda3/envs/dev/lib/python3.10/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /Users/patriciayoung/anaconda3/envs/dev/lib/python3.10/site-packages (from sqlalchemy) (2.0.1)

In [29]:
# need to have instructions in ReadMe to import 'psycopg2 and SQLAlchemy if not already installed.
# write in Jupyter notebook!


import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [30]:
# PostgreSQL connection parameters
db_params = {
    'host': 'localhost',  #Update the host to just 'localhost'
    'port': '5433',
    'user': 'postgres',
    'password': 'password',
    'database': '2022_FIFA',
}

In [34]:
# Create a connection string
conn_str = f"postgresql://postgres:password@localhost:5433/2022_FIFA"

In [35]:
# Create a SQLAlchemy engine
engine = create_engine(conn_str)

In [36]:
import pandas as pd

In [37]:
# Replace 'your_query' with your actual SQL query
query = "SELECT * FROM Player_Info"
result_df = pd.read_sql_query(query, engine)

In [38]:
# Display the result
print(result_df.head())

   id          player position_       team  age  minutes_played  touches  \
0   1        L. Messi        FW  Argentina   35             693      460
1   2  R. Lewandowski        FW     Poland   34             360      153
2   3       K. Mbapp√©        FW     France   23             594      325
3   4          Neymar        MF     Brazil   30             279      203
4   5      C. Ronaldo        FW   Portugal   37             288      116

   dribbles_completed  goals  shots  shots_on_target  passes  \
0                  15      7     27               13     301
1                   5      2     10                2      61
2                  25      8     29               11     173
3                   6      2     11                6     121
4                   0      1     10                2      68

   passes_completed  assists  tackles_won  overall_0-100  value_in_euros
0               372        3            3             93        78000000
1                91        1            2             92       119500000
2               229        2            0             91       194000000
3               153        0            0             91       129000000
4                90        0            0             91        45000000